{
  

  "scp" : [
    [0, [
      { "item" : { "name" : "scp44magnum" }, "rarity" : 0.015 },
      { "item" : { "name" : "scpcoltm1911" }, "rarity" : 0.15 },
      { "item" : { "name" : "scpdeagle" }, "rarity" : 0.07 },
      { "item" : { "name" : "scpglock18" }, "rarity" : 0.045 },
      { "item" : { "name" : "scpsw357" }, "rarity" : 0.025 },
      { "item" : { "name" : "scpar15" }, "rarity" : 0.15 },
      { "item" : { "name" : "scpdchest" }, "rarity" : 0.0002 },
      { "item" : { "name" : "scpdpants" }, "rarity" : 0.0002 },
      { "item" : { "name" : "scpsmg" }, "rarity" : 0.3 },
      { "item" : { "name" : "scpplr16" }, "rarity" : 0.15 },
	  { "item" : { "name" : "scpskorpion" }, "rarity" : 0.07 },
	  { "item" : { "name" : "scpvector" }, "rarity" : 0.045 },
	  { "item" : { "name" : "scpmac10" }, "rarity" : 0.025 }
    ]]
    ]
}
