{
  "reattack" : {
    "default" : {
      "default" : [
        "Intruder!",
        "Hostile spotted!"
      ]
    },
    "glitch" : {
      "default" : [
        "Irritated. This facility is off limits.",
        "Aggressive. Prepare to be eliminated.",
        "Fearless. I will protect this site at all cost.",
        "Angry. Trespassers will be dealt with harshly."
      ]
    },
    "floran" : {
      "default" : [
        "Floran furiousss you trespass here!",
        "Prey sssighted.",
        "Ssstop or prepare to die!",
        "Floran will ssstop you!",
        "Thisss isss a restricted area."
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Intruder!"
      ]
    },
    "apex" : {
      "default" : [
        "Hostiles!",
        "Engaging hostiles!",
        "Hostiles attacking!",
        "Intruders detected!",
        "Hostile activity!"
      ]
    },
    "avian" : {
      "default" : [
        "Caaaw!",
        "Chachalacaaa!",
        "Anhingaaa!",
        "Jocotoco!.",
        "Tapacuuulo!",
        "Caracaraaa!",
        "Cacique!"
      ]
    },
    "floran" : {
      "default" : [
        "Intrudersss!",
        "Shoot the hostilesss!",
        "Intruder sssighted.!",
        "Enemy sssighted!"
      ]
    },
    "glitch" : {
      "default" : [
        "Excited. An intruder!",
        "Pugnacious. Prepare to die!",
        "Calm. I will eliminate this threat.",
        "Daring. Death comes for thee!",
        "Courageous. I shall eliminate this intruder!",
        "Eager. You have breathed your last!",
        "Aggressive. Prepare to lose your life!"
      ]
    },
    "hylotl" : {
      "default" : [
        "This is your time to die.",
        "Begin the elimination!",
        "Suspect sight, commence elimination!"
      ]      
    },
    "human" : {
      "default" : [
        "Prepare to be eliminated!",
        "Intruder!",
        "Intruder sighted!",
        "Hostile spotted!",
        "This premises is off limits!",
        "Protect this site at all cost!"
      ]
    },
    "novakid" : {
      "default" : [
        "Time to remove this punk!",
        "Yer feelin' lucky, punk?",
        "I ain't got time fer intruders.",
        "I'm a sharp shot, and you're a dead man."
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Never mess with me!",
        "Victory!",
        "Phew!",
        "Another victory!",
        "I didn't even break a sweat!",
        "Heh.",
        "Of course I won!",
        "I'm pretty good at this!",
        "That was stressful...",
        "Another easy win!",
        "Yes!",
        "That's what you get!"
      ]
    },
    "avian" : {
      "default" : [
        "Never come here again.",
        "Intruder eliminated."
      ]
    },
    "apex" : {
      "default" : [
        "Target subdued.",
        "Area secure.",
        "Threat neutralised."
      ]
    },
    "hylotl" : {
      "default" : [
        "Site is secured.",
        "Hostile has been eliminated."
      ]
    },
    "glitch" : {
      "default" : [
        "Satisfied. The site is safe.",
        "Satisfied. Hostile has been eliminated."
      ]
    },
    "floran" : {
      "default" : [
        "Mission completed.",
        "Sssite is protected.",
        "Intruder is dead."
      ]
    },
    "novakid" : {
      "default" : [
        "Easier than shootin' fish in a barrel.",
        "I reckon we're safe now.",
        "Yee-haw! Site secured!."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "I will get you one day!",
        "It's not over!",
        "Don't come back!",
        "Where are you...",
        "What a hassle.",
        "Just you wait!"
      ]
    },
    "glitch" : {
      "default" : [
        "Embarrassed. I lost the target.",
        "Thoughtful. Where did the intruder go?",
      ]
    },
    "floran" : {
      "default" : [
        "Floran will find you eventually.",
        "Floran will find the intrudersss."
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Sneaky! This is sneaky! How did you disappear?",
        "They're getting away!",
        "Where'd you go?",
        "Get back here!",
        "How did this happen?"
      ]
    },
    "glitch" : {
      "default" : [
        "Patient. I'll just wait here 'til you come back.",
        "Frustrated. I know you're here somewhere!",
        "Confused. Where did they go?",
        "Uncertain. Wasn't I fighting someone a second ago?",
        "Enraged. How did you disappear!?"
      ]
    },
    "floran" : {
      "default" : [
        "Floran iss good hunter! Prey won't sstay hidden for long!",
        "Floran sstill smells the prey!",
        "Wily prey is hiding!",
        "... Floran can't find you.",
        "Where is the ssneaky thing?"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Get over here!",
        "Come here!",
        "Get back here!",
        "How did you get over there?",
        "I can't reach!"
      ]
    },
    "glitch" : {
      "default" : [
        "Irritated. They are beyond my reach!",
        "Angry. Come here!",
        "Frustrated. Why didn't I bring a crossbow?",
        "Sullen. How can we fight if I can't reach you?",
        "Irate. Come closer so we can fight!"
      ]
    },
    "floran" : {
      "default" : [
        "They're too far away to ssstab!",
        "Floran can't reach!",
        "Come clossser!",
        "Trickssy prey is out of reach!",
        "Floran not clossse enough!"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "I have a plan!",
        "Get them!",
        "Everybody is in my way.",
        "Why aren't they already dead?",
        "Come on!"
      ]
    },
    "glitch" : {
      "default" : [
        "Excited. Strike them down!",
        "Commanding. Get them!",
        "Enthusiastic. Get the foe!",
        "Goading. Why isn't this foe already dead?",
        "Selfish. I want to kill it!"
      ]
    },
    "floran" : {
      "default" : [
        "Sssave some for me!",
        "Get the prey!",
        "Floran is so happy to be part of thiss.",
        "Get it!",
        "Floran excited!"
      ]
    }
  }
}
