{
  "greeting" : {
    "default" : {
      "default" : [
        "Hello."
      ]
    },
    "apex" : {
      "default" : [
        "Site secure.",
        "I'm on duty.",
        "..."
      ]
    },
    "hylotl" : {
      "default" : [
       "Site secure.",
        "I'm on duty.",
        "..."
      ]
    },
    "avian" : {
      "default" : [
        "Site secure.",
        "I'm on duty.",
        "..."
      ]
    },
    "human" : {
      "default" : [
        "Site secure.",
        "I'm on duty.",
        "..."
      ]
    },
    "floran" : {
      "default" : [
        "Sssite sssecure.",
        "I'm on duty.",
        "..."
      ]
    },
    "glitch" : {
      "default" : [
        "Busy. I'm on duty.",
        "Alert. Site secure.",
        "Busy. Leave me alone."
      ]
    },
    "novakid" : {
      "default" : [
        "I'm on duty partner.",
        "I reckon the site is secure.",
        "..."
      ]
    }
  },

  "converse": {
    "default" : {
      "default" : [ "Leave me alone, I'm on duty." ]
    }
  }
}
