{
  "attack" : {
    "default" : {
    	"default" : [
      "Subject found, beginning neutralization.",
	  "Target sighted.",
	  "Intruder spotted!"
      ]
    },
    "neutralize" : {
      "default" : [
            "Subject found, beginning neutralization.",
			"Target sighted.",
	        "Intruder spotted!"
      ]
    },
	"hail" : {
    "default" : {
    	"default" : [
	      "I've got my eye on you.",
	      "Keep on the straight and narrow, you.",
	      "We don't tolerate miscreants here.",
	      "Move along."
      ]
    },
  }
}