{
  "canBookmark" : false,
  "includePartyMembers" : false,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Key 1",
      "planetName" : "SCP-004",
      "warpAction" : "InstanceWorld:004",
      "icon" : "002"
    },
	 {
      "name" : "Key 2",
      "planetName" : "SCP-004",
      "warpAction" : "InstanceWorld:004",
      "icon" : "002"
    },
	 {
      "name" : "Key 3",
      "planetName" : "SCP-004",
      "warpAction" : "InstanceWorld:004",
      "icon" : "002"
    },
	 {
      "name" : "Key 4",
      "planetName" : "SCP-004",
      "warpAction" : "InstanceWorld:004",
      "icon" : "002"
    },
	 {
      "name" : "Key 5",
      "planetName" : "SCP-004",
      "warpAction" : "InstanceWorld:004",
      "icon" : "002"
    },
	 {
      "name" : "Key 6",
      "planetName" : "SCP-004",
      "warpAction" : "InstanceWorld:004",
      "icon" : "002"
    },
	 {
      "name" : "Key 7",
      "planetName" : "SCP-004",
      "warpAction" : "InstanceWorld:004-2",
      "icon" : "002"
    },
	 {
      "name" : "Key 8",
      "planetName" : "SCP-004",
      "warpAction" : "InstanceWorld:004",
      "icon" : "002"
    },
	 {
      "name" : "Key 9",
      "planetName" : "SCP-004",
      "warpAction" : "InstanceWorld:004",
      "icon" : "002"
    },
	 {
      "name" : "Key 10",
      "planetName" : "SCP-004",
      "warpAction" : "InstanceWorld:004",
      "icon" : "002"
    },
	 {
      "name" : "Key 11",
      "planetName" : "SCP-004",
      "warpAction" : "InstanceWorld:004",
      "icon" : "002"
    },
	 {
      "name" : "Key 12",
      "planetName" : "SCP-004",
      "warpAction" : "InstanceWorld:004-1",
      "icon" : "002"
    }
  ]
}